In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#to load the data
df=pd.read_csv("C:/Users/arohi/.jupyter/diabetes.csv")

In [3]:
#to show first 5 record
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [4]:
#to check null values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [6]:
df.shape

(2000, 9)

In [7]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [9]:
df = df.rename(columns={'BloodPressure':'BP', 'DiabetesPedigreeFunction':'DPF'})

In [10]:
df.head()

   Pregnancies  Glucose  BP  SkinThickness  Insulin   BMI    DPF  Age  Outcome
0            2      138  62             35        0  33.6  0.127   47        1
1            0       84  82             31      125  38.2  0.233   23        0
2            0      145   0              0        0  44.2  0.630   31        1
3            0      135  68             42      250  42.3  0.365   24        1
4            1      139  62             41      480  40.7  0.536   21        0

In [25]:
num_col = df.columns

In [26]:
df1 = df[df[num_col].apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

In [28]:
#select X and Y means input and output from dataset df_new
X=df.drop("Outcome",axis=1)
Y=df["Outcome"]#target variable

In [29]:
#train_test_split
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
#Evaluation 
#Mean Squared Error,Root mean Squared error : call class
from sklearn.metrics import mean_squared_error

In [35]:
#create object of DecisionTreeClassifier class
dt1=DecisionTreeClassifier()  #by default GINI Index

In [38]:
#create user defined function
def create_model(model): #passing arguments model : object
    model.fit(X_train,Y_train) #train the model with 70% data
    Y_pred=model.predict(X_test) #test the model
    mse=mean_squared_error(Y_test,Y_pred)
    rmse=np.sqrt(mse)
    print(rmse)
    return model

In [39]:
#call function
create_model(dt1)

0.23094010767585033

DecisionTreeClassifier()

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
#create object of DecisionTreeClassifier class
dt1=RandomForestClassifier()  #by default GINI Index

In [42]:
#call function
create_model(dt1)

0.16832508230603463

RandomForestClassifier()

In [43]:
#Apply ensembling tech. 
#ADA Boost  (undersampler data)
from sklearn.ensemble import AdaBoostClassifier

In [44]:
#create object of AdaBoostClassifier class
ada=AdaBoostClassifier()

In [46]:
#call function
create_model(ada)

0.4281744192888376

AdaBoostClassifier()

In [47]:
from xgboost import XGBClassifier

In [48]:
#create object of XGBClassifier class
ada=XGBClassifier()

In [49]:
#call function
create_model(ada)

[23:18:46] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.18257418583505536

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)